<template>
    <div>
        <h1 class="title">404 Not found</h1>
        <!-- <p>{{this.$router}}</p> -->
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>

</style>