<template>
  <footer class="footer">
    <div class="container">
      <div class="navbar-list">
        <ul class="navbar-list">
         <li class="navbar-item" v-for="link in links" :key="link">
            <a class="navbar-link" :href="link.url">{{ link.title }}</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</template>

<script>
import {links} from '@/_config.js';
export default {
    data() {
        return {
            links: links
        }
    },
};
</script>

<style lang="scss" scoped>
</style>